In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Загрузка данных

In [3]:
data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

Пустые срочки отсутствуют, по дынным можно троить модель

# Подготовка данных для модели

выбор колонок для модели

In [8]:
selectedColumns = data[['workclass', 'education', 'occupation',  'relationship', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'income']]

In [11]:
X = pd.get_dummies(selectedColumns, columns = ['workclass', 'education', 'occupation',  'relationship', 'gender'])

del X['income']
X.head()

,capital-gain,capital-loss,hours-per-week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,occupation_Tech-support,occupation_Transport-moving,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,gender_Female,gender_Male
0,0,0,40,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
1,0,0,50,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0,0,40,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,7688,0,40,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
4,0,0,30,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

Подготовка целевой переменной

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [13]:
le.fit(data['income'])

LabelEncoder()

In [15]:
y = pd.Series(data = le.transform(data['income']))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

Разобьём данные на естовую и обучающую выборки

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Модель

In [18]:
from sklearn.linear_model import LogisticRegression

In [50]:
model = LogisticRegression(C = 15)

In [51]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [52]:
from sklearn.metrics import classification_report
print (classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.88      0.93      0.91      7479
          1       0.73      0.59      0.66      2290

avg / total       0.85      0.85      0.85      9769